.ion-text-center {
    margin-bottom: 16px; /* Espacio entre el botón y la lista */
  }
  
  ion-button {
    width: 50%; /* Ajusta el tamaño del botón al 50% del ancho */
    margin: auto; /* Centra el botón horizontalmente */
  }