<ion-menu content-id="main-content" side="start" id="main-menu">
  <app-menu-alumnos></app-menu-alumnos> <!-- Menú lateral -->
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Mis Trabajos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <h2>Mis Trabajos</h2>
  <p>Aquí se mostrarán los trabajos del alumno.</p>
</ion-content>
