<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Mis Trabajos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <!-- Verifica si hay trabajos en la lista -->
  <div *ngIf="trabajos.length > 0; else noTrabajos">
    <ion-list>
      <ion-item *ngFor="let trabajo of trabajos">
        <ion-label>
          <h2>{{ trabajo.name }}</h2>
          <p>Fecha: {{ trabajo.date }}</p>
          <p>Inicio: {{ trabajo.startTime }}</p>
          <p>Horas: {{ trabajo.hours }}</p>
          <p>Descripción: {{ trabajo.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Plantilla para cuando no hay trabajos -->
  <ng-template #noTrabajos>
    <div class="no-trabajos">
      <ion-icon name="sad-outline" size="large"></ion-icon>
      <p>No hay trabajos registrados aún.</p>
    </div>
  </ng-template>
</ion-content>
